{% extends 'site_base.html' %}
{% block body %}
<form role="form">
{#    <div class="form-group">#}
{#        <label for="exampleInputEmail1">Email address</label>#}
{#        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="exampleInputPassword1">Password</label>#}
{#        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="exampleInputtxt1">Text</label>#}
{#        <input type="text" class="form-control" id="exampleInputtxt1" placeholder="Text">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="exampleInputurl1">Site</label>#}
{#        <input type="url" class="form-control" id="exampleInputurl1" placeholder="http://">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="exampleInputFile">File input</label>#}
{#        <input type="file" id="exampleInputFile">#}
{##}
{#        <p class="help-block">Example block-level help text here.</p>#}
{#    </div>#}
{#    <div class="checkbox">#}
{#        <label>#}
{#            <input type="checkbox"> Check me out#}
{#        </label>#}
{#    </div>#}
    {{ form }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-success">Back</button>
</form>
{%  endblock %}